<mat-toolbar>     
    <div fxLayout="row" fxLayoutAlign="space-between center" class="header-cont"> <img src="assets/logo.jpg" style="width: 170px;"/>
      <div></div>  <button mat-icon-button color="primary"  [matMenuTriggerFor]="menu"> <mat-icon>more_vert</mat-icon></button>
    
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setLang('EN-US')">
            <span>Engish</span></button>
        <button mat-menu-item (click)="setLang('AR')">
            <span>Arabic</span></button>
      </mat-menu></div>
</mat-toolbar>