
.content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
mat-toolbar {
    background: #fff !important;
  
    
}
.menu {
    margin-top: -130px;    
    padding: 15px;
}

.mat-card {
    background:  #fff !important;
    color: #212529;
    height: 200px !important;
}
.sub-content {
    height: 220px;
    background: #3f51b5;
    color: #fff;
    padding: 15px !important;
}
.box-cont{    
    height: 85px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;}
    .box-head{    
        height: 22px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;}
.mat-card-title{
    font-size: 22px !important;
}